#login-buttons {
  margin: 18px;
  font-size: 14px;
}

.list-group-item {
  height: 55px;
}

.docs-share {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px;
}

.docs-share .input-group {
  width: 30%;
}

.docs-share > div {
  margin: 0 5px;
}

.editorbutton {
  margin-top: 5px;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail {
  width: 280px;
  padding-top: 30px;
  margin-top: 30px;
  border: 2px solid lightgrey;
}

.caption {
  text-align: center;
}

.btn-loadmore {
  border-radius: 0;
}
